## ORDER BY 절

ORDER BY 절은 SQL문장으로 조회된 데이터들을 다양한 목적에 맞게 특정 칼럼을 기준으로 정렬하여 출력하는데 사용한다.

✅ ORDER BY 절에 칼럼명 대신에 SELECT 절에서 사용한 ALIAS명이나 칼럼 순서를 나타내는 정수도 사용 가능함.

✅ 별도로 정렬 방식을 지정하지 않으면 기본적으로 오름차순 적용됨

✅ ORDER BY 절은 SQL 문장의 제일 마지막에 위치함

✅ ORACLE은 NULL값을 가장 큰 값으로 취급하여 내림차순 정렬 시 제일 앞에 위치하는 특성이 있다. (SQL server는 반대)

✅ 날짜형 데이터 타입은 오름차순으로 정렬했을 때 가장 빠른 값이 먼저 출력된다.


✅한 개의 칼럼이 아닌 여러가지 칼럼을 기준으로 정렬할 수 있다.

ex) ORDER BY HEIGHT DESC, BACK_NO; → 키를 기준으로 내림차순 정렬 후 키가 같은 경우 백넘버를 기준으로 재정렬한다.

---

## 문장의 실행 순서

In [ ]:
5. SELECT
1. FROM
2. WHERE
3. GROUP BY
4. HAVING
6. ORDER BY COLUMN/ALIAS/정수 ASC or DESC;

# ASC  : 오름차순 정렬(DEFAULT 값)
# DESC : 내림차순 정렬

1. 발췌 대상 테이블을 참조한다.(FROM)
2. 발췌 대상 데이터가 아닌 것은 제거한다.(WHERE)
3. 행들을 소그룹화 한다.(WHERE)
4. 그룹핑된 값의 조건에 맞는 것만을 출력한다.(HAVING)
5. 데이터 값을 출력/계산한다.(SELECT)
6. 데이터를 정렬한다.(ORDER BY)

---

In [ ]:
# ✅ 가능한 케이스
SELECT EMPNO, ENAME
FROM EMP
ORDER BY MGR;

FROM 절에 정의되지 않는 테이블의 칼럼을 다른 절에서 사용하면 에러가 발생하지만,

ORDER BY 절에서는 SELECT 목록에 나타나지 않은 문자형 항목이 포함될 수 있다!

관계형 데이터베이스가 데이터를 메모리에 올릴 떄 행 단위로 모든 칼럼을 가지고 오기 때문이다.

(SELECT 절에서 일부 칼럼만 선택하더라도 ORDER BY절에서 메모리에 올라와있는 다른 칼럼의 데이터를 사용 가능하기 때문!)

---

In [ ]:
# ❌ 불가능한 케이스
SELECT JOB, SAL
FROM EMP
GROUP BY JOB
HAVING COUNT(*) > 0
ORDER BY SAL;

GROUP BY 절을 사용하게 되면 그룹핑 기준에 사용된 칼럼과 집계 함수에 사용될 수 있는 숫자형 데이터 칼럼들의 집합을 새로 만드는데,

개별 데이터는 필요 없으므로 저장하지 않아  SELECT절에나 ORDER BY 절에서 개별데이터를 사용하는 경우 에러가 발생한다.

결과 : SELECT절에서는 그룹핑 기준과 숫자 형식 칼럼의 집계 함수를 사용할 수 있지만 그룹핑 기준 외의 문자 형식 칼럼은 정할 수 없다.

## TOP N 쿼리
ORACLE에서 순위가 높은 n개의 ROW를 추출하는 방법

In [ ]:
SELECT ENAME, SAL
FROM (SELECT ENAME, SAL
      FROM EMP
     ORDER BY SAL DESC)
WHERE ROWNUM <4;

인라인 뷰를 사용하여 추출하고자 하는 집합을 정렬한 후 ROWNUM을 적용시킴으로써 결과에 참여하는 순서와 추출되는 로우순서를 일치시켰다.

그리고 이를 통해 TOP N쿼리의 결과를 만들어냈다.

* SQL server는 TOP 조건을 사용하게 되면 별도 처리 없이 쉽게 출력할 수 있다.